# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @stefanprodan @squaremo @hiddeco @makkes @darkowlzz @souleb @pjbgf @aryan9600 @kingdonb @scottrigby @mewzherder @dipti-pai @stealthybox @matheuscscp 
